*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
/.ruff_cache
/.attach_pid*
/.venv

/doc/_apidoc/
/build
/dist
_version.py
